@mixin imageGradient {
  filter: brightness(0.6) saturate(150%);
  mask-image: linear-gradient(
                  145deg,
                  rgba(0, 0, 0, 0.5) 15%,
                  rgba(0, 0, 0, 1) 75%
  );
}
