/* Брейкпоинты */
$mq-xs: 375px;
$mq-sm: 768px;
$mq-md: 1024px;
$mq-lg: 1200px;
$mq-xl: 1440px;
$mq-xxl: 1920px;

/* Отступы контейнера */
$container-padding-xs: 10px;
$container-padding-sm: 20px;
$container-padding-md: 30px;
$container-padding-lg: 40px;
$container-padding-xl: 50px;

/* Максимальная ширина */
$container-max-width: 1500px;
