/* Брейкпоинты */
$breakpoint-xs: 375px;
$breakpoint-md: 768px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1920px;

/* Отступы контейнера */
$container-padding-xs: 10px;
$container-padding-md: 20px;
$container-padding-lg: 40px;
$container-padding-xl: 50px;

/* Максимальная ширина */
$container-max-width: 1820px;
