/* Глобальные настройки */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Базовые стили для html и body */
html {
  font-size: 100%; // 16px по умолчанию
  text-size-adjust: 100%; // предотвращает авто-скейл на iOS
  scroll-behavior: smooth; // плавная прокрутка

  /* Скролл Для Firefox */
  scrollbar-width: thin;              /* тонкий скролл */
  scrollbar-color: #bbb #f0f0f0;      /* бегунок и трек */
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: Nunito, system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  line-height: 1.5;
  color: var(--color-text-brown);
  background-color: var(--color-bg);
  overflow-x: hidden;
}

/* Убираем лишние отступы у типографики */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Изображения и медиа */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Наследование шрифтов для форм */
input,
button,
textarea,
select {
  font: inherit;
}

/* Убираем стандартные стили кнопок */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Ссылки по умолчанию */
a {
  color: inherit;
  text-decoration: none;
}

#__nuxt {
  display: contents;
}

swiper-container::part(container) {
  overflow: visible;
}
