:root {
  --color-indigo-light: #D0E0F0;
  --color-indigo: #9BA9CB;
  --color-indigo-dark: #838CB8;

  --color-blue-light: #C9E0E5;
  --color-blue: #8FA8BA;
  --color-blue-dark: #6F909E;

  --color-green-light: #CAE4D5;
  --color-green: #99B6A0;
  --color-green-dark: #75937C;

  --color-orange-light: #F5DDD0;
  --color-orange: #DBA393;
  --color-orange-dark: #B6765F;

  --color-yellow-light: #F7E1AB;
  --color-yellow: #DCA95D;
  --color-yellow-dark: #AF883E;

  --color-purple-light: #E2D9E7;
  --color-purple: #B59FB9;
  --color-purple-dark: #9A7FA0;

  --color-pink-light: #F2D9D9;
  --color-pink: #E3A2A2;
  --color-pink-dark: #B17B79;

  --color-white: #FFFFFF;
  --color-beige-light: #D8BBAB;

  --color-text-chocolate: #744141;
  --color-text-brown: #291717;
  --color-text-beige: #FDFBFA;
  --color-background-beige: #F0E5DF;
  --color-background-pink: #ECDDDD;
}
