:root {
  --color-indigo-light: #C7D6EB;
  --color-indigo: #8A98C5;
  --color-indigo-dark: #6F79B2;

  --color-blue-light: #BFD9E0;
  --color-blue: #7A9EB3;
  --color-blue-dark: #5C8596;

  --color-green-light: #B9DAC9;
  --color-green: #89AD95;
  --color-green-dark: #678A71;

  --color-orange-light: #F3D3C2;
  --color-orange: #E0A185;
  --color-orange-dark: #C07A5C;

  --color-yellow-light: #F6DCA0;
  --color-yellow: #E0A84F;
  --color-yellow-dark: #B78A36;

  --color-purple-light: #DACFE2;
  --color-purple: #A88EAD;
  --color-purple-dark: #8C7296;

  --color-pink-light: #EECFCF;
  --color-pink: #D98C8C;
  --color-pink-dark: #A86A68;


  --color-white: #FFFFFF;
  --color-beige-light: #D8BBAB;

  --color-text-chocolate: #744141;
  --color-text-brown: #291717;
  --color-text-beige: #FDFBFA;
  --color-background-beige: #F0E5DF;
  --color-background-pink: #ECDDDD;
}
