:root {
  --color-indigo: #5a9fc6;
  --color-indigo-light: #a8d2e8;
  --color-indigo-dark: #487fa0;

  --color-blue: #69a1ae;
  --color-blue-light: #bfd8dc;
  --color-blue-dark: #56838f;

  --color-green: #99b6a0;
  --color-green-light: #bdd8c7;
  --color-green-dark: #768e78;

  --color-orange: #d57a5d;
  --color-orange-light: #d8bbab;
  --color-orange-dark: #af654d;

  --color-yellow: #fbc36e;
  --color-yellow-light: #fdd7a0;
  --color-yellow-dark: #b1833f;

  --color-purple: #b69dba;
  --color-purple-light: #d1c4d5;
  --color-purple-dark: #917595;

  --color-white: #fff;

  --color-pink: #e3a8a8;
  --color-pink-dark: #b47a78;
  --color-pink-light: #F3CCCD;

  --color-beige-light: #d8bbab;

  /* UI Colors */
  --color-text-chocolate: #744141;
  --color-text-brown: #291717;
  --color-text-beige: #fdfbfa;
  --color-background-beige: #f0e5df;
  --color-background-pink: #ecdddd;
}
